
.nav-sig {
  font-size: 50px;
  font-family: "Mr Dafoe";
  color: #59B4C3;
}

nav.navbar {
  box-shadow: 0px 0px 10px 9px rgba(110, 109, 109, 0.2);
  /* background-color: rgb(82, 150, 244) !important; */
}

.page-content {
  width: calc(100% - 20%);
  margin: 0 8%; /* 10% margin on left and right */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}


.more-link {
  text-decoration: none;
  background-color: #59B4C3;
  color: #F8F6E3;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin: 20px;
}

.more-link:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Use the inherited text color */
}

#spacing {
  margin-top: 20px;
  margin-bottom: 30px;
}

.current-page {
  position: relative;
  padding-bottom: 3px; /* Adjusts the space between the text and the underline */
  border-bottom: 2px solid #59B4C3 ; /* Creates the underline. Adjust the color and thickness as needed */
  text-decoration: none; /* Removes the default text underline if it's an <a> tag */

}
.heading {
  padding: 50px 30px 20px 30px;
  font-weight: bolder;
  font-family: "Segoe UI";
  position: relative; /* Needed to position the pseudo-element */
  display: inline-block; /* Ensures the underline fits the text width */
  margin-bottom: 30px;
  text-align: center;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Thickness of the underline */
  background-image: linear-gradient(to right, white, #59B4C3, white); /* Gradient color */
  border-radius: 2px; /* Optional: adds rounded corners to the underline */
}

.paragraph {
  font-family: "Segoe UI";
  text-shadow: 1px 1px 2px rgba(181, 179, 179, 0.3);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.about-container img {
  width: 90%; /* Adjust as needed */
  max-width: 700px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  box-shadow: 0px 0px 10px 9px rgba(147, 147, 147, 0.2);
}

.book-container {
  display: flex;
  padding: 20px 10px 0px 40px;
}

.about-book {
  padding: 0px 60px 60px 60px;
  line-height: 1.9;
  text-shadow: 1px 1px 2px rgba(181, 179, 179, 0.3);
}


.about-phil {
  width: 100%; /* Adjust as needed */
  max-width: 700px; /* Limit maximum width */
  font-family: "Segoe UI";
  line-height: 1.9;
  text-shadow: 1px 1px 2px rgba(181, 179, 179, 0.3);
  text-align: center; /* Center-align paragraphs */
  padding: 40px 10px;
}

#published-by {
  padding-top: 70px;
  font-size: smaller;
}

@keyframes pop-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.book-image {
  animation: pop-in 2s ease-out forwards;
}


.review-card {
  box-shadow: 0px 0px 10px 9px rgba(207, 207, 207, 0.2);
  background-color: #59B4C3;
  color: #F8F6E3;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 70%;
  height: 100%;
  text-align: center;
}

.review-text::before {
  content: "“"; /* This is a quotation mark */
  font-size: 40px; /* Makes it big */
  color: #F8F6E3; /* Sets the color */
}

.review-text::after {
  content: "”"; /* Closing quotation mark */
  font-size: 40px; /* Makes it big */
  color: #F8F6E3; /* Sets the color */
  /* Repeat styling as needed, adjusting for the end mark if necessary */
}


.separator {
  border-top: 2px solid #333;
  margin: 20px 0;
}

/* Additional CSS to style the social icons */
.social-icons {
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-icons i {
  font-size: larger;
  padding: 15px;
  margin-right: 10px; /* Adjust the margin between icons as needed */
  color: #59B4C3; /* Sets the icon color to blue */
}

/* Additional CSS to style the form */
.contact-form {
  max-width: 400px; /* Adjust the maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
}

.form-input {
  width: 100%; /* Set the input fields to occupy full width */
  padding: 10px; /* Add padding to the input fields */
  margin-bottom: 15px; /* Add margin between input fields */
  border: 1px solid #ccc; /* Add border to the input fields */
  border-radius: 5px; /* Add border-radius to the input fields */
}

.submit-btn {
  width: 100%; /* Set the button width to occupy full width */
  padding: 10px; /* Add padding to the button */
  background-color: #59B4C3; /* Change button background color */
  color: #fff; /* Change button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border-radius to the button */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.submit-btn:hover {
  background-color: #448e9c; /* Change button background color on hover */
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  height: auto;
}

.about-book {
  max-width: 600px;
  padding: 0 100px;
  line-height: 1.9;
  text-shadow: 1px 1px 2px rgba(181, 179, 179, 0.3);
}

.book-image {
  width: 100% !important;
  height: auto !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 10px 9px rgba(147, 147, 147, 0.2) !important;
}





/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  .book-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    padding: 20px; /* Add padding around the whole container */
  }

  .about-book {
    padding: 40px 10px 10px 10px; /* Add padding around the text */
    text-align: center; /* Center-align the text */
  }

  .review-card {
    width: 90%; /* Adjust width as needed */
    max-width: none; /* Remove maximum width */
    margin: 20px auto; /* Center the card */
  }

  .heading {
    font-size: 20px; /* Adjust as needed */
  }

  .paragraph {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .book-container {
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 40px 0; /* Adjust padding */
  }

  .about-book {
    max-width: 800px; /* Limit maximum width */
    padding: 0 100px; /* Adjust padding */
  }
}
